/*References:  
https://www.w3schools.com/css/tryit.asp?filename=trycss_list-style_colors */

.App {
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  height: 10%;
  background-color: blue;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
}

.main {
  display: flex;
  flex-wrap: row nowrap;
  width: 100vw;
  height: 90%;
}

.info-window {
  max-height: 150px;
  width: 150px;
  display: block;
  text-align: center;
}

.info-title {
  font: calibri;
  font-size: 8pt;
  font-weight: bold;
}

.info-subtext {
  font: calibri;
  font-size: 6pt;
}

@media screen and (min-width: 450px) {
  .hidden {
    font-size: 0pt;
    height: 100%;
  }

  .map {
    width: 75%;
    height: 90%;
  }

  .sidepanel {
    width: 25%;
    height: 98%;
    border: solid 0.8px #3300FF;
    margin: 2px;
    background: #E8E8E8;
  }
}

@media screen and (max-width: 449px) {
  .hidden {
    font-size: 0pt;
    height: 100%;
  }

  .map {
    width: 100%;
    height: 100%;
  }

  .sidepanel {
    position: absolute;
    left: -100%;
    transition: margin .4s;
    border: solid 0.8px #3300FF;
    margin: 2px;
    background: #E8E8E8;
  }
}

.search-brewery{
  width: 90%;
  height: 10px;
  margin-left: 5px;
  font-size: 8px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: solid 1px #3300FF;
}

.breweryList {
  list-style-type: none;
  padding: 2px;
  margin-bottom: 2px;
  margin-top: 3px;
}

.breweryName {
  padding: 3px;
  margin-bottom:  2px;
  color: #3300FF;
  font-size: 8px;
  font-weight: bold;
  background: #B0B0B0;
  border-left: solid 2px #3300FF;
  cursor: pointer;
  display: flex;
  align-items: center;
}