.App {
  text-align: center;
}

.header {
  background-color: blue;
  font-size: 12pt;
  text-align: center;
  vertical-align: center;
  padding: 4px;
  height: 10vh;
  color: white;
}

.footer {
  background-color: blue;
  font-size: 10pt;
  text-align: center;
  vertical-align: center;
  height: 10vh;
  padding: 4px;
  color: white;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 499px) {
  .picklist {
    width: 100%;
    height: 30vh;
  }

  #map {
    width: 100%;
    height: 50vh;
  }
}

@media screen and (min-width: 500px) {
  .picklist {
    width: 20%;
    height: 80vh;
  }
  #map {
    width: 80%;
    height: 80vh;
  }
}
